/*
 * Defining custom CSS styles
 */

body {

    font-family : 'Roboto', sans-serif;

}

.list-group .active {

    background-color: gray;
    border-color: gray;

}

.blank-space {
    padding-bottom: 20em;
}

a {
    color: #FE8019;
}

u {
    padding-bottom: 10;
    text-decoration: none;
    border-bottom: 5px solid #FE8019;
}